@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
    font-family: Playfair Display;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);  
}

.shadowed{
    box-shadow: 5px 5px 3px black;
}
h1 {
    color: rgb(30, 30, 30, 1.0);
    font-family: 'Rubik', 'Calibri';
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    color:green;
    font-family: 'Rubik', sans-serif;
    letter-spacing : 3px;
    text-transform: uppercase;
}
a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #6B72E1;
    font-weight: 600;
    font-size: 16px;
}

a:hover{
    color:black;
}

.container{
    width:700px;
    margin:40px auto;

}

@media (max-width:760px) {
    .container{
        width: 600px;
    }
}

@media (max-width:500px) {
    .container{
        width: 400px;
    }
}

.card-white {
    background-color:white;
    padding:40px; 
    box-shadow:0px 10px 30px rgba(0, 0, 0.1);
    border-radius: 4px ;
    margin: 20px 0px;
    text-align: center;
}


.img-circle{
    border-radius: 50%;
}

.btn-blue{
    background-color:#6B72E1 ;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}
.btn-blue:hover{
    background-color:black;
    color: white;  
}

.list-inline{
    list-style: none;
    padding-left: 0px;

}

.list-inline li {
    display : inline;
    padding : 10px;
}

.list-inline i{
    font-size: 50px;
    color: #8EC5FC;
}

#introduction p {
    margin-bottom: 40px;
}